Task 1: Print a Concise Summary of the Dataset

In [13]:
# Import necessary library
import pandas as pd

# Load the Titanic dataset
titanic_df = pd.read_csv('titanic (1).csv')
#C:\Users\jaych\PycharmProjects\DataScienceLab5\titanic (1).csv
# Print a concise summary of the dataset
print(titanic_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    object
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    object
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
 15  Unnamed: 15  0 non-null      float64
dtypes: bool(2), float64(3), int64(4), object(7)
memory usage: 99.3+ KB
None

Task 2: Extract the Column Labels, Shape, and Data Types

In [14]:
# Print column labels, shape and data types
print("Column Labels:", titanic_df.columns.tolist())
print("Shape of the Dataset:", titanic_df.shape)
print("Data Types of Each Column:\n", titanic_df.dtypes)

Column Labels: ['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town', 'alive', 'alone', 'Unnamed: 15']
Shape of the Dataset: (891, 16)
Data Types of Each Column:
 survived         int64
pclass           int64
sex             object
age            float64
sibsp            int64
parch            int64
fare           float64
embarked        object
class           object
who             object
adult_male        bool
deck            object
embark_town     object
alive           object
alone             bool
Unnamed: 15    float64
dtype: object

Task 3: Create a Pivot Table with Multiple Indexes

In [15]:
# Create a Pivot table with multiple indexes
pivot_table_multi_index = titanic_df.pivot_table(index=['class', 'sex'], values='survived', aggfunc='mean')
print(pivot_table_multi_index)

               survived
class  sex
First  female  0.968085
       male    0.368852
Second female  0.921053
       male    0.157407
Third  female  0.500000
       male    0.135447

Task 4: Find Survival Rate by Gender on Various Classes

In [16]:
# Pivot table for survival rate by gender and class
survival_by_gender_class = titanic_df.pivot_table('survived', index='sex', columns='class')
print(survival_by_gender_class)

class      First    Second     Third
sex
female  0.968085  0.921053  0.500000
male    0.368852  0.157407  0.135447

Task 5: Find Survival Rate by Gender

In [17]:
# Pivot table for survival rate by gender
survival_by_gender = titanic_df.pivot_table('survived', index='sex')
print(survival_by_gender)

        survived
sex
female  0.742038
male    0.188908

Task 6: Find Survival Rate by Gender, Age Wise of Various Classes

In [18]:
# Create age bins
age_bins = pd.cut(titanic_df['age'], [0, 18, 40, 60, 80])
# Pivot table for survival rate by gender, age bins, and class
survival_by_gender_age_class = titanic_df.pivot_table('survived', index=['sex', age_bins], columns='class')
print(survival_by_gender_age_class)

class               First    Second     Third
sex    age
female (0, 18]   0.909091  1.000000  0.511628
       (18, 40]  0.979167  0.914894  0.480000
       (40, 60]  0.958333  0.846154  0.000000
       (60, 80]  1.000000       NaN  1.000000
male   (0, 18]   0.800000  0.600000  0.215686
       (18, 40]  0.478261  0.063492  0.146199
       (40, 60]  0.342105  0.055556  0.074074
       (60, 80]  0.083333  0.333333  0.000000

C:\Users\jaych\AppData\Local\Temp\ipykernel_10048\3346733889.py:4: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  survival_by_gender_age_class = titanic_df.pivot_table('survived', index=['sex', age_bins], columns='class')

Task 7: Partition Passengers into Four Categories Based on Their Age

In [19]:
# Define age categories
titanic_df['age_category'] = pd.cut(titanic_df['age'], bins=[0, 10, 30, 60, 80], labels=['Child', 'Young Adult', 'Adult', 'Senior'])
print(titanic_df[['age', 'age_category']].head())

    age age_category
0  22.0  Young Adult
1  38.0        Adult
2  26.0  Young Adult
3  35.0        Adult
4  35.0        Adult

Task 8: Count Survival by Gender, Categories Wise Age of Various Classes

In [20]:
# Pivot table for counting survival by gender, age category, and class
count_survival_age_gender_class = titanic_df.pivot_table('survived', index=['sex', 'age_category'], columns='class', aggfunc='count')
print(count_survival_age_gender_class)

class                First  Second  Third
sex    age_category
female Child             1       8     22
       Young Adult      34      36     57
       Adult            48      30     22
       Senior            2       0      1
male   Child             2       9     22
       Young Adult      24      43    151
       Adult            63      44     76
       Senior           12       3      4

C:\Users\jaych\AppData\Local\Temp\ipykernel_10048\3792828789.py:2: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  count_survival_age_gender_class = titanic_df.pivot_table('survived', index=['sex', 'age_category'], columns='class', aggfunc='count')

Task 9 and 10: Detailed Survival Rates with Fare Dimensions

In [21]:
# Create fare bins
fare_bins = pd.qcut(titanic_df['fare'], 2)
# Pivot table for survival rate by gender, age category, class, and fare
survival_fare_gender_age_class = titanic_df.pivot_table('survived', index=['sex', 'age_category'], columns=['class', fare_bins])
print(survival_fare_gender_age_class)

class                          First                             Second  \
fare                (-0.001, 14.454] (14.454, 512.329] (-0.001, 14.454]
sex    age_category
female Child                     NaN          0.000000              NaN
       Young Adult               NaN          0.970588         0.933333
       Adult                     NaN          0.979167         0.846154
       Senior                    NaN          1.000000              NaN
male   Child                     NaN          1.000000              NaN
       Young Adult               NaN          0.458333         0.034483
       Adult                     0.0          0.440678         0.130435
       Senior                    NaN          0.083333         0.333333

class                                            Third
fare                (14.454, 512.329] (-0.001, 14.454] (14.454, 512.329]
sex    age_category
female Child                 1.000000         0.800000          0.411765
       Young Adult           0.904762         0.568182          0.307692
       Adult                 0.941176         0.142857          0.333333
       Senior                     NaN         1.000000               NaN
male   Child                 1.000000         1.000000          0.263158
       Young Adult           0.000000         0.140625          0.130435
       Adult                 0.047619         0.109375          0.166667
       Senior                     NaN         0.000000               NaN

C:\Users\jaych\AppData\Local\Temp\ipykernel_10048\2805683194.py:4: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  survival_fare_gender_age_class = titanic_df.pivot_table('survived', index=['sex', 'age_category'], columns=['class', fare_bins])